 <% @users.each do |user| %>
<h2><%= user.name %>さんがフォローしているユーザー一覧</h2>
<% end %>

<% if @users.exists? %>

<thead>
  <tr>
    <th>name</th>
    <th></th>
    <th></th>
  </tr>
</thead>

<tbody>
  <% @users.each do |user| %>
  <tr>
    <td><%= user.name %></td>
    <td>フォロー数: <%= user.followings.count %></td>
    <td>フォロワー数: <%= user.followers.count %></td>
  </tr>
</tbody>
</table>
<% end %>

<% else %>
<p>フォロー中のユーザーはいません</p>
<% end %>