<h1>ようこそCarstagramへ</h1>
<div class="container">
  <div class="row">
    <div class="col">
    <span><%= image_tag 'about1.jpg', :size => '300x300' %>
    </div>
    <div class="col d-flex align-items-center">
    <p class="md-0" >Carstagramでは呟きや画像投稿を通して<br>コミュニケーションや新たなコミュニティを築く事を目的としています</p>
    </span>
    </div>
    </div>
    
    
    <div class="row">
    <div class="col">
    <span><%= image_tag 'about2.jpg', :size => '300x300' %>
    </div>
    <div class="col d-flex align-items-center">
    <p class="md-0" >主に車が好きな方や車に興味がある方<br>又は、なにか車のことで悩んでいる方に使っていただきたいです。</p>
    </span>
    </div>
    
    
  </div>
</div>